* {
  font-family: "Circular", sans-serif;
}

@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #202020;
}

.time {
  color: #a5a5a4cb !important;
}

aside a,
ul li {
  transition: all 0.2s ease;
  color: #a5a5a4cb !important;
}

aside a:hover {
  color: #e4e4dccb !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.3);
}

#scrollbar {
  scrollbar-width: none;
}

#scrollbar:hover {
  scrollbar-width: auto;
}

#artist-list:hover {
  background-color: rgb(211, 211, 211, 0.1);
  cursor: pointer;
}

.card:hover {
  background-color: rgba(58, 57, 57, 0.336) !important;
  cursor: pointer;
}

#green-bookmark {
  background-color: #00644f;
  color: #1dd35e;
}

#heart-colored {
  background: linear-gradient(148deg, #5e35ed, #b5dad2);
  color: white;
}


  .slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background-color: green !important;
} */

  .slider {
  -webkit-appearance: slider-horizontal;
  width: 100%;
  height: 25px;
  background: green !important;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  
} 

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: white; 
  outline: none;
  opacity: 0.7;
  transition: background 0.3s; 
  border-radius: 10px
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  opacity: 0; 
  border-radius: 10px
}

.slider:hover {
  background: #1DB954; 
}

.slider:hover::-webkit-slider-thumb {
  opacity: 1; 
}


/* Sovrascrive il colore predefinito delle icone al passaggio del mouse */
.text-decoration-none:hover .bi {
  color: white !important; /* Colore bianco con importanza */
}


#provatre {
  transition: all 0.0s linear !important;
}

#provatre:hover {
  transform: scale(1.4) translate(0px, 2%) !important;
}
    
  .hover_heart:hover {
    color: white !important;
  }

